.vs/
.dist/
.build/
/dist
/version.yml
/mochatools.spec
/datanodetools_app/__pycache__
/mochatoolsandroid/livefeed.txt
/mochatoolsandroid/pyside6attempt/datanodetools_app/__pycache__
/.goutputstream-TNY5P3
/.vboxclient-clipboard-tty2-control.pid
/.vboxclient-clipboard-tty2-service.pid
/.vboxclient-draganddrop-tty2-control.pid
/.vboxclient-draganddrop-tty2-service.pid
/.vboxclient-hostversion-tty2-control.pid
/.vboxclient-hostversion-tty2-service.pid
/.vboxclient-seamless-tty2-control.pid
/.vboxclient-seamless-tty2-service.pid
/.vboxclient-vmsvga-session-tty2-control.pid
/.vboxclient-vmsvga-session-tty2-service.pid
/.cache
/.config
/.local
/snap
/mochatoolsandroid/kivyattempt2/__pycache__
/DataNode Tools.zip
/datanodetools_app/tabs/__pycache__
/datanodetools_app/ui/__pycache__
/build/DataNode Tools
/DataNode Tools.spec
/app-debug.apk
/venv311
/__pycache__
/datanodetools.log
/datanodeapi.md
